<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="common-footer" class="footer-style">
    <div sec:authorize="isAuthenticated()">
        <p th:text="${#authentication.name}">Name</p>
        <a th:href="@{/authentication/logout}" th:text="#{logout.title}">Logout</a>
    </div>
    <div sec:authorize="isAnonymous()">
        <a th:href="@{/authentication/login}" th:text="#{login.title}">Login</a>
    </div>
    <div>
        <p id = "time"
           style="color: blanchedalmond"
           onmouseover="document.getElementById('time').innerHTML = (new Date())"
           onmouseleave="document.getElementById('time').innerHTML = 'Come here for time!'">Come here for time!</p>
    </div>
</footer>
</body>
</html>