<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <style>
        a{
            text-align: center;
        }
    </style>
</head>
<body>
<header th:fragment="common-header" class="header-style">
    <ul>
        <li>
            <a th:href="@{/}" th:text="#{header.link.welcome}">Welcome</a>
        </li>
        <li>
            <a th:href="@{/hello}" th:text="#{header.link.hello}">Hello</a>
        </li>
        <li>
            <a th:href="@{/employees/list}" th:text="#{header.link.Employees}">Employees</a>
        </li>
    </ul>
</header>
</body>
</html>