p {
    font-family: "Gujarati Sangam MN", sans-serif;
    font-size: medium;
    font-min-size: 15px;
    font-max-size: 25px;
    font-style: normal;

    text-align: left;

    margin: 3px;
    outline: dot-dash 2px cyan;
    padding: 5px;
}

li{
    font-family: "Droid Sans Mono Slashed", monospace;
    font-size: small;
    color: cornflowerblue;
    text-decoration: underline;
}
.p-centered{
   text-align: center;
}
.header-style ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.header-style li{
    float: left;
    border-right: 1px solid #bbb;
}
.header-style li:last-child{
    border-right: none;
}

.header-style a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header-style a:hover{
    color: darkcyan;
    background-color: beige;
}
.footer-style div{
    background-color: #333;
    text-align: right;
}

.footer-style a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer-style a:hover{
    color: darkcyan;
    background-color: beige;
}
div{
    display: block;
    margin: 5px;
    border: dot-dash 2px cadetblue;
    padding: 4px;
}

a{
    font-family: "Apple Braille", monospace;
    font-size: large;
}