.header-box {
    border: darkred;
    padding: 2px;
    background-color: cyan;
}

.header-box:hover{
    border-radius: 15px;
}

.header-box-dropdown{
    position: relative;
    display: inline-block;
}

.header-box-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
    padding: 12px 12px;
    z-index: -1;
}

.header-box-dropdown:hover .header-box-dropdown-content{
    display: block;
}
.header-box:visited{
    color: darkmagenta;
}

.footer-text{
    display: grid;
    grid-template-columns: 70% 30%;
}

.footer-left-col{
    background-color: azure;
    font-size: 14px;
}
.footer-right-col{
    background-color: aquamarine;
    font-size: 14px;
}
