<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div th:replace="/fragments/header::common-header">Header</div>

<br>
<div>
    <p th:text="#{index.paragraph-1}">ds</p>
    <p th:text="#{index.paragraph-2}">sehj</p>

    <ul>
        <li th:text="#{index.list.first}">First</li>
        <li th:text="#{index.list.second}">Second</li>
        <li th:text="#{index.list.third}">Third</li>
    </ul>
</div>
<div>
    <p> <a th:href="@{/hello}" th:text="#{index.link.text}">here</a>.</p>
</div>

<div th:replace="/fragments/footer::common-footer">Footer</div>
</body>
</html>