<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.title}">Title</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<header th:replace="/fragments/header::common-header">HEADER</header>

<main>
    <section>
        <p th:text="#{index.paragraph-1}">ds</p>
        <p th:text="#{index.paragraph-2}">sehj</p>

        <ul>
            <li th:text="#{index.list.first}">First</li>
            <li th:text="#{index.list.second}">Second</li>
            <li th:text="#{index.list.third}">Third</li>
        </ul>
    </section>
    <br>
    <section>
        <p class="p-centered"> <a th:href="@{/hello}" th:text="#{index.link.text}">here</a>.</p>
    </section>
</main>

<footer th:replace="fragments/footer::common-footer"></footer>
</body>
</html>