<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{welcome.title}">Test</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">

    <script src="js/common.js"></script>
</head>
<body onload="welcomeMessage()">
<header th:replace="/fragments/header::common-header">HEADER</header>

<div>
    <p id="test"><a th:text="#{welcome.link.employee.create.message}" th:href="@{/employees/create}">Employee Create Link</a></p>
    <p><a th:text="#{welcome.link.employee.list.message}" th:href="@{/employees/list}">Employee List Link</a></p>
    <br>
    <div th:text="#{welcome.time.message}">Time :<span id="date">Today</span>

    </div>
</div>
<div>
    <button value="Change Font Style" onclick="changeStyle()">Test</button>
</div>
<div>
    <form name="Add Values" action="">
        <input type="number" id="x" value="99" >
        <input type="number" id="y" value="101" disabled
               onclick="document.getElementById('y').removeAttribute('disabled')">
        <input type="button" value="Add 2 Numbers" id= "sum" onclick="addTwoValues()">
    </form>
</div>
<footer th:replace="fragments/footer::common-footer"></footer>
</body>
</html>