<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>List Employee Form</title>
</head>
<body>
<h3 th:text="#{employee.list.title}">Employees</h3>
<hr>
<a th:href="@{/employees/save}" th:text="#{employee.list.link.title}">Add new employee</a>
<hr>

<div>
    <p><a th:href="@{/logout}" th:text="#{employee.create.link.logout}">Logout</a></p>
</div>

<div>
    <table>
        <thead>
        <th th:text="#{employee.list.link.table.title.firstname}">Name</th>
        <th th:text="#{employee.list.link.table.title.lastname}">Surname</th>
        <th th:text="#{employee.list.link.table.title.age}">Age</th>
        <th th:text="#{employee.list.link.table.title.action}">Action</th>
        </thead>

        <tbody>
        <tr th:each="tmpEmployee : ${employeePage.content}">
            <td th:text="${tmpEmployee.firstName}">Name</td>
            <td th:text="${tmpEmployee.lastName}">Surname</td>
            <td th:text="${tmpEmployee.age}">Age</td>

            <!-- Update -->
            <td>
                <a th:href="@{/employees/save(id=${tmpEmployee.id})}"
                   th:text="#{employee.list.link.table.title.action.update}">Update</a>
            </td>

            <!-- Delete -->
            <td>
                <a th:href="@{/employees/delete(id=${tmpEmployee.id})}"
                   th:text="#{employee.list.link.table.title.action.delete}"
                   onclick="if (!(confirm('Sure?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${employeePage.totalPages > 1}" class="pagination" th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/employees/list(size=${employeePage.size}, page=${pageNumber}-1)}"
       th:text="${pageNumber}"
       th:class="${pageNumber==employeePage.number + 1} ? active">Page</a>
</div>


</body>
</html>